html{font-size:8px}/*默认配置*/
@media screen and (min-width:321px) and (max-width:375px){html{font-size:8px}}
@media screen and (min-width:376px) {html{font-size:10px}}
body{background: #ebebeb;}
.row02_top01{height: 50px;background:#008be6;color: #fff;font-size: 14px; }
.row02_img_left{margin-top: 12px;margin-left:10px;float: left;}
.row02_font01{font-size: 18px;text-align:center;margin-top: 12px;margin-right:35px;}
.row02_top02{height: 2px;background-color:#808080;}
.row02_top03{height: 35px;background: #fff;}
.row02_top03 a{text-decoration:none; color: #000;}
.row02_font02{font-size: 16px;padding-top: 7px;}
.row02_font03{font-size: 18px;color: #ccc;padding-top: 4px;}
.row02_top03 p{text-align: center};
.row02_top03 span{text-align: center};
.row02_top04{margin-top: 10px;margin-right: -15px;}
.row02_top04 ul{list-style: none;margin-left: 3.5rem;}
.row02_top04_02{margin-left: -1.0rem;margin-top:20px;}
.row02_top04_01{margin-left: -5px;}
.row02_top04_01 span{float: left;}
.row02_img_icon{width:6rem;height:6rem;border-radius:0.9rem 0.9rem;margin-left: 4px;margin-top:15px;float: left;}
.row02_img_logo{margin-top: 2px;}
.row02_top04 p{text-align: left;line-height: 8px;}
.row02_font04{margin-top: 15px;}
.row02_font04,.row02_font05{font-size: 1.2rem;}
.row02_font05{color: #999;}
.row02_font08{font-size: 1rem;color: red;padding-top: 10px;}
.row02_btn01{width: 12rem;height: 4rem;color:#fff;border: none;border-radius:5px 5px;background: #fe531d;}
.row02_font09{color: #fff;}
.row02_font10{width:18rem;text-align: left;font-size:1.2rem;margin-top: 1.0rem;}
.row02_btn01{margin-right: 10px;}
.txt-left{text-align: right;margin-top: 10px;}
.txt-left p{text-align: right;margin-top: 12px;font-size: 14px;}
.txt-left p span{font-size: 1.2rem;}
.row02_font11{font-size: 1.4rem;}